In [1]:
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [2]:
path='../BDD/.env'

load_dotenv(dotenv_path=path)
user=os.getenv("MYSQL_USER")
password=os.getenv("MYSQL_PASSWORD")
host=os.getenv("MYSQL_HOST")
database=os.getenv("MYSQL_DATABASE")
port=os.getenv("MYSQL_PORT")


engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user=user,
                               pw=password,
                               db=database))

# Creation Table Doctor

In [3]:
query1 = """CREATE TABLE `Doctor` (
`Doctor_id` INT(10) NOT NULL AUTO_INCREMENT,
`Firstname` varchar(255) NOT NULL,
`Lastname` varchar(255) NOT NULL,
PRIMARY KEY (`Doctor_id`)
);"""

engine.execute(query1)

# Creation table Patient

In [5]:
query2 = """CREATE TABLE `Patient` (
`Patient_id` varchar(40) NOT NULL,
`Gender` varchar(1) NOT NULL,
`Birthday` DATE NOT NULL,
`Doctor_id` INT(10) NOT NULL,
PRIMARY KEY (`Patient_id`),
FOREIGN KEY (`Doctor_id`) REFERENCES `Doctor`(`Doctor_id`)
);"""

engine.execute(query2)

# Creation table Brain_scanner

In [7]:
query3 = """CREATE TABLE `Brain_scanner` (
               `Id` INT NOT NULL AUTO_INCREMENT,
               `Patient_id` VARCHAR(50),
               `Image_path` VARCHAR(255),
               `Date` DATE,
               `Group` VARCHAR(5),
               PRIMARY KEY (`Id`),
               FOREIGN KEY (`Patient_id`) REFERENCES `Patient` (`Patient_id`))"""

engine.execute(query3)

In [8]:
r_set=engine.execute("SHOW TABLES");
for row in r_set:
    print(row)

('Brain_scanner',)
('Doctor',)
('Models_list',)
('Patient',)
('Patient_data_test',)
('Patient_data_train',)

In [ ]:
query1 = """CREATE TABLE `Models_list` (
               `Model_name` VARCHAR(255) NOT NULL,
               `Accuracy` FLOAT, 
               `Precision` FLOAT,
               `Recall` FLOAT,
               `f1-score` FLOAT,
               PRIMARY KEY (`Model_name`))"""

engine.execute(query1)

In [ ]:
query2 = """CREATE TABLE `Patient_data_train` (
               `Image_data_id` VARCHAR(50) NOT NULL,
               `Group` VARCHAR(25), 
               `Sex` CHAR(1),
               `Age` INT,
               `Image_path` VARCHAR(255),
               PRIMARY KEY (`Image_data_id`))"""

engine.execute(query2)

In [ ]:
query3 = """CREATE TABLE `Patient_data_test` (
               `Image_data_id` VARCHAR(50) NOT NULL,
               `Group` VARCHAR(25), 
               `Sex` CHAR(1),
               `Age` INT,
               `Image_path` VARCHAR(255),
               PRIMARY KEY (`Image_data_id`))"""

engine.execute(query3)

In [ ]:
query4 = """CREATE TABLE `Patients_followup` (
               `Patient_id` VARCHAR(50) NOT NULL,
               `Gender` CHAR(1), 
               `Age` INT,
               `Image_path` VARCHAR(255),
               `Group` VARCHAR(5),
               `Date` DATE)"""

engine.execute(query4)

In [ ]:
query_5 = """DROP TABLE Patients_followup"""
engine.execute(query_5)

In [ ]:
r_set=engine.execute("SHOW TABLES");
for row in r_set:
    print(row)

In [ ]:
r_set=engine.execute("SELECT * FROM Patients_followup");
for row in r_set:
    print(row)

In [ ]:
query5 = """CREATE TABLE `Patient` (
`Patient_id` varchar(40) NOT NULL,
`Gender` varchar(1) NOT NULL,
`Birthday` DATE NOT NULL,
`Doctor_id` INT(10) NOT NULL,
PRIMARY KEY (`Patient_id`)
);"""

engine.execute(query5)

In [ ]:
engine.execute('alter table Patient add column Doctor_id Varchar(50)')

In [ ]:
engine.execute('ALTER TABLE `Patient` ADD CONSTRAINT `Patient_fk0` FOREIGN KEY (`Doctor_id`) REFERENCES `Doctor`(`Doctor_id`)');

In [19]:
query_insert = """INSERT INTO Doctor (Firstname,Lastname)
VALUES ('John','Carter'),
('Doug', 'Ross'),
('Mark', 'Green'),
('Peter', 'Benton'),
('Susan', 'Lewis'),
('Kerry', 'Weaver')
;"""

engine.execute(query_insert)