In [1]:
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [2]:
path='../BDD/.env'

load_dotenv(dotenv_path=path)
user=os.getenv("MYSQL_USER")
password=os.getenv("MYSQL_PASSWORD")
host=os.getenv("MYSQL_HOST")
database=os.getenv("MYSQL_DATABASE")
port=os.getenv("MYSQL_PORT")


engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user=user,
                               pw=password,
                               db=database))

# Creation Table Doctor

In [3]:
query1 = """CREATE TABLE `Docteurs` (
`Id_docteur` INT NOT NULL AUTO_INCREMENT,
`Prenom` varchar(255) NOT NULL,
`Nom` varchar(255) NOT NULL,
PRIMARY KEY (`Id_docteur`)
);"""

engine.execute(query1)

# Creation table Patient

In [4]:
query2 = """CREATE TABLE `Patients` (
`Id_patient` varchar(50) NOT NULL,
`Sex` varchar(1) NOT NULL,
`Date_de_naissance` DATE NOT NULL,
`Id_docteur` INT NOT NULL,
PRIMARY KEY (`Id_patient`),
FOREIGN KEY (`Id_docteur`) REFERENCES `Docteurs`(`Id_docteur`)
);"""

engine.execute(query2)

# Creation table Brain_scanner

In [5]:
query3 = """CREATE TABLE `Scanner_cerebral` (
`Id` INT NOT NULL AUTO_INCREMENT,
`Id_patient` varchar(50) NOT NULL,
`Image` varchar(255) NOT NULL,
`Date` DATE NOT NULL,
`Groupe` varchar(5) NOT NULL,
PRIMARY KEY (`Id`),
FOREIGN KEY (`Id_patient`) REFERENCES `Patients`(`Id_patient`)
);"""

engine.execute(query3)

In [6]:
r_set=engine.execute("SHOW TABLES");
for row in r_set:
    print(row)

('Docteurs',)
('Models_list',)
('Patient_data_test',)
('Patient_data_train',)
('Patients',)
('Scanner_cerebral',)

In [ ]:
query1 = """CREATE TABLE `Models_list` (
               `Model_name` VARCHAR(255) NOT NULL,
               `Accuracy` FLOAT, 
               `Precision` FLOAT,
               `Recall` FLOAT,
               `f1-score` FLOAT,
               PRIMARY KEY (`Model_name`))"""

engine.execute(query1)

In [ ]:
query2 = """CREATE TABLE `Patient_data_train` (
               `Image_data_id` VARCHAR(50) NOT NULL,
               `Group` VARCHAR(25), 
               `Sex` CHAR(1),
               `Age` INT,
               `Image_path` VARCHAR(255),
               PRIMARY KEY (`Image_data_id`))"""

engine.execute(query2)

In [ ]:
query3 = """CREATE TABLE `Patient_data_test` (
               `Image_data_id` VARCHAR(50) NOT NULL,
               `Group` VARCHAR(25), 
               `Sex` CHAR(1),
               `Age` INT,
               `Image_path` VARCHAR(255),
               PRIMARY KEY (`Image_data_id`))"""

engine.execute(query3)

In [ ]:
query4 = """CREATE TABLE `Patients_followup` (
               `Patient_id` VARCHAR(50) NOT NULL,
               `Gender` CHAR(1), 
               `Age` INT,
               `Image_path` VARCHAR(255),
               `Group` VARCHAR(5),
               `Date` DATE)"""

engine.execute(query4)

In [ ]:
r_set=engine.execute("SHOW TABLES");
for row in r_set:
    print(row)

In [ ]:
r_set=engine.execute("SELECT * FROM Patients_followup");
for row in r_set:
    print(row)

In [ ]:
engine.execute('alter table Patient add column Doctor_id Varchar(50)')

In [ ]:
engine.execute('ALTER TABLE `Patient` ADD CONSTRAINT `Patient_fk0` FOREIGN KEY (`Doctor_id`) REFERENCES `Doctor`(`Doctor_id`)');

In [ ]:
query_insert = """INSERT INTO Docteurs (Prenom,Nom)
VALUES ('John','Carter'),
('Doug', 'Ross'),
('Mark', 'Green'),
('Peter', 'Benton'),
('Susan', 'Lewis'),
('Kerry', 'Weaver')
;"""

engine.execute(query_insert)

In [ ]:
query_5 = """DROP TABLE Patients_followup"""
engine.execute(query_5)